.inputBox{
    box-sizing: border-box;
    display: block;
    background-color: rgb(230, 218, 218);
    border:none;
    height:6rem;
    border: 2px solid rgb(63, 62, 62);
    text-align:center;
    width:30vw;
    font-size:3rem;
    font-weight: bold;
    margin:1.5rem auto;
   }
   
   button{   
               height:30px;       
               width:20vw;
               background-color: rgb(71, 190, 71);
               border-radius: 12px;
               color:white;
               font-size:1.5rem;
               font-family:serif;
               outline:none;
           }